#container {
	background-color: rgb( 224, 224, 224);
	padding: 10px;
}

h1 {
	background-color: black;
	text-align: center;
	font-family: verdana;
	font-size: 15px;
	color: white;
	padding: 5px 25px;
	margin-top: 15px;
	margin-bottom: 25px;
}

div {
	text-align: center;
	font-family: serif;
	margin: 0 auto;
}

p, .lorem-one, lorem-two, lorem-three {
	background-color: rgb(255, 116, 53);
	padding: 25px 5px;
}

.lorem-one {
	color: purple;
}

.lorem-two {
	color: green;
}

.lorem-three {
	color: yellow;
}
