.container {
  width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

div.title-block {
  padding: 30px;
  background: url(../images/team.3.jpg) center no-repeat;
  background-size: 960px;
  height: 40rem;
  margin: 0 0 0 0;
}

header nav {
	text-align: center;
	margin-top: 20px;
	font-family: Montserrat, sans-serif;
  text-align: center;
  font-weight: 400;
}

header nav a {
	color: black;
	text-decoration: none;
	margin-left: 40px;
  margin-right: 40px;
}

h1 {
  text-align: center;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 80px;
}

p {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: black;
  padding-left: 160px;
  padding-right: 160px;
  color: rgb(102, 102, 102);
}

h2 {
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  color: rgb(220, 20, 60);
}

#wrapper {
  width: 960px;
  margin:0 auto;
  padding: 20px;
}
.imageWrapper {
  overflow: auto;
}

#thumbnails{
  position: relative;
  display: block;
  height: 130px;
  clear: both;
}

.thumb {
  float: left;
  margin: 5px;
  height: 100px;
  width: 80px;
  display: block;
  cursor: pointer;
}
.content {
  float: left;
  width: 100px;
  padding: 0px; 
}
#bigimage {
  float: left;
}

footer {
    clear: both;
    border-top: 1px dotted rgb(102, 102, 102);
}

footer p {
    text-align: left;
    margin-left: 5px;
    font-family: Raleway, sans-serif;
    font-size: 12px;
}

footer ul {
    float: right;
    list-style-type: none;
    font-family: Raleway, sans-serif;
}

footer li {
    float: left;
    vertical-align: middle;
    margin-right: 10px;
}


/*TAGLINE STYLES*/